.home {width: 100%; height: 100%;}
.home h2 {background-color: orange; line-height: 30px; height: 30px; margin-bottom: 5px; text-align: center; cursor: pointer;}
.home .container {display: flex; flex-wrap: wrap;}
.home .container .data {margin: 10px; flex: 1; background-color: orange; border-radius: 10px; cursor: pointer;}
.home .container .data .title {text-align: center; padding: 15px 0px; font-weight: 700;}
.home .container .content {display: flex; flex-wrap: wrap;}
.home .container .content .des {display: block; padding: 10px; background-color: white; margin: 10px; border-radius: 4px;}